td {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.bg-body-tertiary {
  background: #dfefff;
}

.to-top {
  width: 100%;
  text-align: right;
}

#table {
  table-layout: fixed;
  width: 100%;
  font-size: 1vw;
}

.selected {
  background-color: #edffde;
}

.break-all {
  word-break: break-all;
}
