/* You can add global styles to this file, and also import other style files */

@media print {
  .noprint {
    display: none;
  }

  table{
    table-layout: fixed;
    width: 100%;
    font-size: 1vw;
  }
}

body {
  user-select: none;
}
