<div class="container noprint">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="col p-2 form-group">
        <label for="name">Nazwa</label>
        <select
          #name
          id="name"
          class="form-control"
          name="name"
          [(ngModel)]="selectedValue"
          required>
          <option *ngFor="let option of options.values" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="col p-2 form-group">
        <label class="text-nowrap" for="quantity">Ilosc stwierdzona</label>
        <input
          type="number"
          id="quantity"
          class="form-control"
          name="quantity"
          ngModel
          required
          pattern="^[0-9]+[0-9]*$">
      </div>
      <div class="col p-2 form-group">
        <label for="price">Cena</label>
        <input
          type="number"
          id="price"
          class="form-control"
          name="price"
          ngModel
          required
          pattern="^[0-9]+\.?[0-9]{0,2}$">
      </div>
      <div class="col p-2 form-group">
        <label for="sold">Sprzedane</label>
        <input
          type="number"
          id="sold"
          class="form-control"
          name="sold"
          ngModel
          pattern="^[0-9]+[0-9]*$">
      </div>
    </div>


    <div class="row">
      <div class="col mb-2">
        <button class="btn btn-success me-2" type="submit"
                [disabled]="!f.valid">{{ editMode ? 'zmień' : 'dodaj' }}</button>
        <button
          class="btn btn-danger me-2"
          type="button"
          (click)="onDelete()"
          *ngIf="editMode">usuń
        </button>
        <button class="btn btn-warning" type="button" (click)="onClear()">wyczyść</button>
      </div>
      <div class="col mb-2 offset-md-4 text-end">
        <button class="btn btn-info btn-spacing"  type="button" [disabled]="!editMode" (click)="onSell(f)">sprzedaj</button>
      </div>
    </div>
  </form>
</div>
